<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home.html">
                    Return to Home
                </a>
            </div>
        </div>
        <div class="col-xs-7">
            <span ng-show="model.user.userType=='ADMIN'">
                <a class="navbar-brand" href="#/admin">
                    Admin
                </a>
            </span>
        </div>
        <div class="col-xs-1">
            <div class="navbar-header">
                <p class="navbar-text">
                    <a ng-click="model.updateUser(model.user)" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-show="model.error" class="alert alert-danger alert-dismissible">
        {{model.error}}
    </div>
    <h1>Profile</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name"
                   placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name"
                   placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input class="form-control" ng-model="model.user.DOB" placeholder="Date of Birth" type="text" id="dob"
                   placeholder="Date of Birth">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input ng-model="model.user.phone" type="text" id="phone" class="form-control"
                   placeholder="Phone Number">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/theme">Themes</a>
    <a class="btn btn-danger btn-block" ng-click=model.logout()>Logout</a>
    <a class="btn btn-danger btn-block" ng-click="model.unregister()">Unregister</a>

    <div class="col-lg-12 copyright text-center">
        <p>Copyright © Snatch 2016</p>
    </div>
</div>