<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-1 col-sm-1">
            <div class="navbar-header">
                <p class="navbar-text">
                    <a href="#/user/{{model.userId}}/theme" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
            </div>
        </div>

        <div class="col-xs-10">
            <div class="navbar-header">
                <a id="head" class="navbar-brand">
                    Snatches
                </a>
            </div>
        </div>

        <div class="col-sm-1 col-xs-1">
            <div class="navbar-header">
                <p id="plus" class="navbar-text">
                    <a ng-click="model.createSnatch(model.snatch)" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="col-xs-12 col-sm-8">
    <ul>
        <li ng-repeat="snatch in model.snatches">
            <div class="container-fluid row">
                <div class="col-xs-4">
                    <a href="#/user/{{model.userId}}/theme/{{model.themeId}}/snatch/{{snatch._id}}" class="nounderline">
                        <img id="image" ng-src="{{snatch.url}}">
                        <label for="des">Description</label>
                        <textarea id="des">{{snatch.description}}</textarea>
                        <!--<text name="themes">{{model.snatch._theme}}</text>-->
                    </a>
                    <label for="comment">Comment</label>
                    <textarea name='comment' id='comment'></textarea>
                    <button type="button">Submit</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div id="user" class="container-fluid">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>