<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-1 col-sm-1">
            <div class="navbar-header">
                <p ng-show="model.user!=undefined&&model.user.userType!='ADMIN'" class="navbar-text">
                    <a href="#/user/{{model.userId}}/theme" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
                <p ng-show="model.user==undefined" class="navbar-text">
                    <a href="#/guest" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
                <p ng-show="model.user!=undefined&&model.user.userType=='ADMIN'" class="navbar-text">
                <a href="#/admin" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
            </div>
        </div>

        <div class="col-xs-10">
            <div class="navbar-header">
                <a id="head" class="navbar-brand">
                    Snatches
                </a>
            </div>
        </div>

        <div class="col-sm-1 col-xs-1">
            <div class="navbar-header">
                <p ng-show="model.user!=undefined&&model.user._id==userId" id="plus" class="navbar-text">
                    <a ng-click="model.createSnatch(model.snatch)" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <a ng-show="model.user!=undefined" href="#/user/{{model.userId}}/theme/{{model.themeId}}/snatch/search" class="nounderline">
        Want to find snatch details from Walmart? click here to search
    </a>
    <ul>
        <li ng-repeat="snatch in model.snatches">
            <div class="container-fluid row">
                <div class="col-xs-11 col-sm-4">
                    <img id="image" ng-src="{{snatch.url}}">
                </div>
                <div class="hidden-xs col-sm-6">
                    <p>{{snatch.dateCreated}}</p><br>
                    <p class="noborder" id="des" readonly>{{snatch.description}}</p>
                    <pre class="noborder" name='comments' id='comments'>{{snatch.comment}}</pre>
                    <textarea ng-show="model.user!=undefined" ng-model="model.textModel" name='newcomment' id='newcomment'
                              placeholder="Add a comment..."></textarea>
                    <button ng-show="model.user!=undefined" ng-click="model.addCommentToSnatch(snatch)" type="button">Submit</button>
                </div>
                <div class="col-xs-1">
                    <a ng-show="model.user!=undefined" href="#/user/{{model.userId}}/theme/{{model.themeId}}/snatch/{{snatch._id}}" class="nounderline">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div ng-show="model.user!=undefined" id="user" class="container-fluid">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a ng-click=model.logout() class="navbar-link">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </div>
        </div>
    </div>
</nav>