<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-1 col-sm-1">
            <div class="navbar-header">
                <p ng-show="model.user!=undefined" class="navbar-text">
                    <a href="#/user/{{model.userId}}/theme/{{model.themeId}}/snatch" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
                <p ng-show="model.user==undefined" class="navbar-text">
                    <a href="#/guest" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </p>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="navbar-header">
                <a id="head" class="navbar-brand">
                    Search Snatches Online
                </a>
            </div>
        </div>
        <div class="col-sm-1 col-xs-1">
        </div>
    </div>
</nav>

<div class="container">
    <form class="form-wrapper">
        <div class="col-xs-5">
            <label>Want to find snatch details from Walmart? search here</label>
        </div>
        <div class="col-xs-7">
            <input ng-model="model.query" type="text" id="searchWalmart" placeholder="Search Snatch Online" required>
            <span class="glyphicon glyphicon-search" ng-click="model.searchQuery(model.query)" value="search"></span>
        </div>
    </form>
    <ul>
        <li ng-repeat="product in model.products">
            <div class="container-fluid row">
                <img id="image" ng-src="{{product.mediumImage}}">
                <label>Sale Prise</label>
                <p>{{product.salePrice}}</p>
                <label>Details Description</label>
                <p>{{product.shortDescription}}</p>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>