input.form-control {
    margin-bottom: 5px;
}

.navbar-default {
    background-color: gray;
    border-color: gray;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 16px;
}

.navbar-default .navbar-link {
    color: white;
}

.snatch {
    font-family: Verdana;
    padding-top: 60px;
    padding-bottom: 80px;
    overflow: scroll;
}

.homepage {
    padding-left: 60px;
}

.links {
    color: darkblue;
    text-decoration: none;
}

#loginCollage {
    padding-top: 35px;
    max-width: 100%;
    height: auto;
}

#image {
    position:relative;
    width: 300px;
    display: inline-block;
    float:left;
    padding:10px;
}

.nounderline {
    text-decoration: none !important
}

ul {
    font-size: large;
}

li {
    margin: 20px;
    list-style-type: none;
}

.followed {
    padding-right: 20px;
}

.vr {
    width:3px;
    background-color:grey;
    position:absolute;
    top:0;
    bottom:0;
    left: 33%;
}

.vr1 {
    width:3px;
    background-color:grey;
    position:absolute;
    top:0;
    bottom:0;
    right:35%;
}

.vr2 {
    width:3px;
    background-color:grey;
    position:absolute;
    top:0;
    bottom:0;
    right:50%;
}

.noborder {
    border: none;
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}