input.form-control {
    margin-bottom: 5px;
}

body {
    font-family: Verdana;
    padding: 60px;
    overflow: scroll;
}

/*.app {*/
    /*background-color: lavender;*/
/*}*/

.links {
    color: darkblue;
    text-decoration: none;
}

#loginCollage {
    padding-top: 35px;
    max-width: 100%;
    height: auto;
}

#image {
    position:relative;
    width: 300px;
    display: inline-block;
    float:left;
    padding:10px;
}

.nounderline {
    text-decoration: none !important
}

ul {
    font-size: large;
}

li {
    margin: 20px;
    list-style-type: none;
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}